@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fade-in {
  animation: fade-in 0.1s ease-in-out;
}

.animate-fade-out {
  animation: fade-out 0.1s ease-in-out;
  display: none;
}

.done-card {
  opacity: 0.5; /* Reduce opacity for "Done" tasks */
  /* Add more styles as needed */
}

.done-card .task-title {
  text-decoration: line-through; /* Add a line through the title for "Done" tasks */
}

/* CSS for centering the modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Adjust z-index to ensure the modal appears on top */
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 400px; /* Adjust the width as needed */
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.modal h2 {
  margin-top: 0;
}

/* Additional styling for the close button */
.modal button {
  margin-top: 20px;
  background-color: #0079bf;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.modal button:hover {
  background-color: #005a8d;
}
.modal-container {
  /* ... (your existing modal-container styles) */
  backdrop-filter: blur(20px); /* Adjust the blur amount as needed */
  -webkit-backdrop-filter: blur(5px); /* For Safari */
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0px; /* Initially hidden on the right */
  width: 300px; /* Adjust the width as needed */
  height: 100%;
  background-color: #ffffff;
  box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.2);
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  z-index: 50;
  /* Additional styling for a cleaner look */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sidebar.open {
  animation-name: slide-in;
}

.sidebar-content {
  padding: 20px;
  flex-grow: 1; /* Expand content to fill available space */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}


/* Close button styling */
.close-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0079bf;
  color: #ffffff;
  border: none;
  border-radius: 0 0 5px 5px; /* Rounded bottom corners */
  cursor: pointer;
 
}

.close-button:hover {
  background-color: #005a8d;
}